
.tabs {
  	line-height:normal;
	margin-bottom: 5px;
      	height: 24px;
      	margin: 0;
      	padding: 0;
      	background:#DAE0D2 url(../imagenes/bg.gif) repeat-x;
      	list-style: none;
      	overflow:hidden
      	font: 12px/1.5em Georgia,Serif;
}

.tabs li {
  float:left;
  background:url(../imagenes/left_both.png) no-repeat left top;
  margin:0;
  padding:0 0 0 3px;
  white-space: nowrap;
  display: inline;
}

.tabs a:hover, .tabs a.tab-active {
  background-position:100% -150px;
  padding-bottom:5px;
  color:#333;
  text-decoration:none;
}

.tabs a  {
  float:left;
  display:block;
  font: 9px/1.4em;
  font-family: verdana, helvetica, sans-serif;
  background:url(../imagenes/right_both.png) no-repeat right top;
  padding:4px 2px 4px 2px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
}

.tabs a.selected  {
  float:left;
  display:block;
  width:.1em;
  background:url(../imagenes/right_both.png) no-repeat right top;
  padding:2px 10px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
}

.tab-panes {
  margin: 3px
}

.tabs li.selected {
  background-position:0 -150px;
  border-width:0;
  }

.tabs li.selected a {
  background-position:100% -150px;
  padding-bottom:5px;
  color:#333;
  }

.tabs li:hover, #header li:hover a {
  background-position:0% -150px;
  color:#333;
  }

.tabs li:hover a {
  background-position:100% -150px;
  }

