<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SIPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearPromocion</display-name>
    <servlet-name>CrearPromocion</servlet-name>
    <servlet-class>svl.CrearPromocion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearPromocion</servlet-name>
    <url-pattern>/CrearPromocion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAvailability</display-name>
    <servlet-name>SearchAvailability</servlet-name>
    <servlet-class>svl.SearchAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAvailability</servlet-name>
    <url-pattern>/SearchAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarReporteReservas</display-name>
    <servlet-name>GenerarReporteReservas</servlet-name>
    <servlet-class>svl.GenerarReporteReservas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarReporteReservas</servlet-name>
    <url-pattern>/GenerarReporteReservas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarReporteHabitacion</display-name>
    <servlet-name>GenerarReporteHabitacion</servlet-name>
    <servlet-class>svl.GenerarReporteHabitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarReporteHabitacion</servlet-name>
    <url-pattern>/GenerarReporteHabitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationRequest</display-name>
    <servlet-name>ReservationRequest</servlet-name>
    <servlet-class>svl.ReservationRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationRequest</servlet-name>
    <url-pattern>/ReservationRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeReservation</display-name>
    <servlet-name>MakeReservation</servlet-name>
    <servlet-class>svl.MakeReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeReservation</servlet-name>
    <url-pattern>/MakeReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelarReserva</display-name>
    <servlet-name>CancelarReserva</servlet-name>
    <servlet-class>svl.CancelarReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarReserva</servlet-name>
    <url-pattern>/CancelarReserva</url-pattern>
  </servlet-mapping>
</web-app>